.rss-RssView {
    position: relative;
    font-family: 'Noto Serif', serif;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    background: hsl(60, 32%, 97%);
    -webkit-animation: fx .3s cubic-bezier(0.030, 0.440, 0.250, 1.000);
}

@-webkit-keyframes fx {
    from {
        -webkit-transform: translate3d(0,-66px,0);
        opacity: 0;
    }
}

.rss-RssView-header {
    height: 66px;
    background: black url(../../assets/images/logo.png) no-repeat;
    background-size: auto 26px;
    background-position: 30px center;
}


/* Article -------------------------------- */

.rss-RssView-article {
    padding: 30px;
}

.rss-RssView-article-title {
    margin: 0 0 20px 0;
    line-height: 1;
    font-size: 22px;
    font-weight: normal;
    color: hsl(0,0%,10%);
    text-shadow: 0 2px 2px hsla(0,0%,100%,.8);
}


/* Media -------------------------------- */

.rss-RssView-article-media {
    margin: 0 0 20px 0;
    max-width: 100%;
}

.rss-RssView.podd .rss-RssView-article-media img {
    width: 100%;
}

.rss-RssView.space .rss-RssView-article-media img,
.rss-RssView.kids .rss-RssView-article-media img {
    max-width: 100%;
}


@media (min-width: 1000px) { /* Larger screens than 1000px */
    
    .rss-RssView-article-media {
        float: left;
    }
    
    .rss-RssView.space .rss-RssView-article-media,
    .rss-RssView.kids .rss-RssView-article-media {
        max-width: 50%;
        margin: 0 20px 20px 0;
    }
    
}




/* Fullscreen -------------------------------- */

.rss-RssView.fullscreen {
    width: auto;
    left: 0;
    background-color: black;
}

.rss-RssView.fullscreen .rss-RssView-article img {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-animation: pop .1s ease-out 0 1;
}

@-webkit-keyframes pop {
    0% {
        -webkit-transform: scale(.8);
    }
}


/* Text -------------------------------- */

.rss-RssView-article-description {
    margin: 0;
    font-size: 16px;
    line-height: 1.4;
    text-rendering: optimizeLegibility;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    color: hsl(0,0%,30%);
    text-shadow: 0 1px 0 hsla(0,0%,100%,.6);
}

.rss-RssView-article-author {
    clear: left;
    margin: 20px 0;
    color: hsl(0,0%,60%);
    font-style: italic;
}

/* BG -------------------------------- */

.rss-RssView-footer {
    margin: 0 30px;
    padding: 20px;
    text-align: center;
    font-size: .7em;
    border-top: 1px solid hsla(0,0%,0%,.1);
    color: hsla(0,0%,0%,.5);
}



/* Cover -------------------------------- */

.rss-RssView-cover {
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-box-orient: vertical;
    padding: 120px 0 60px 0;
}

.rss-RssView-cover-frame {
    /*//width: 38px;*/
    /*//height: 52px;*/
    /*//border: 6px solid #ffcc00;*/
    box-sizing: border-box;
    
    width: 228px;
    height: 312px;
    border: 36px solid #ffcc00;
    -webkit-animation: cover-frame 6s ease-in-out 0 1 alternate;
}

@-webkit-keyframes cover-frame {
    0% {
        -webkit-transform: translate3d(0,0px,0);
    }
    16.66% {
        -webkit-transform: translate3d(0,-40px,0);
    }
    33.33% {
        -webkit-transform: translate3d(0,0px,0);
    }
    50% {
        -webkit-transform: translate3d(0,-20px,0);
    }
    66.66% {
        -webkit-transform: translate3d(0,0px,0);
    }
    83.33% {
        -webkit-transform: translate3d(0,-10px,0);
    }
    100% {
        -webkit-transform: translate3d(0,0px,0);
    }
}

.rss-RssView-cover-shadow {
    width: 228px;
    height: 20px;
    background: -webkit-radial-gradient(center, closest-side, hsla(0,0%,0%,.15), hsla(0,0%,0%,0) );
    -webkit-animation: cover-shadow 6s ease-in-out 0 1 alternate;
}

@-webkit-keyframes cover-shadow {
    0% {
        opacity: 1;
    }
    16.66% {
        opacity: .2;
    }
    33.33% {
        opacity: 1;
    }
    50% {
        opacity: .6;
    }
    66.66% {
        opacity: 1;
    }
    83.33% {
        opacity: .8;
    }
    100% {
        opacity: 1;
    }
}

