
/* Selected --------------------- */

.rssDemo-Main-articleList .ArticlePreview.selected {
    background: hsl(0,0%,40%);
    box-shadow: inset 0 1px 0 hsla(0,0%,100%,.04), inset 0 -1px 0 hsla(0,0%,0%,0.35);
}

[data-montage-skin="dark"] .rssDemo-Main-articleList .ArticlePreview--highlight {
    box-shadow: inset 2px 0 0 hsl(210,100%,50%);
}